body{
	margin:0;
	padding: 0;
	font-family: 'calibri light';

}

#linea{
	width: 100%;
	height: 5px;
	background:#16b8b8;

}
#header{
	width: 100%;
	height: 90px;
	background: #151616;

}

#header #centro1{
	width: 800px;
	height: auto; overflow: hidden;
	border: 0px solid;
	margin: auto;
}

#header #centro1 #logo{
	width: 200px; border: 0px solid;
	float: left;
}
#header #centro1 #logo h2,p{
	color:#fff;

}
#header #centro1 #logo p{
	margin-top: -20px; 
}
.boton2{
	height: 30px;
	width: 130px;
	float: right;
	padding: 5px 20px;
	border-radius: 5px;
	background: #151616;
	Color: #fff
	
}
.boton2:hover{
	
	color: #57e4ee;
	
}
/*histolo del menu*/
#header #menu{
	width: 580px;
	height: auto; 
	overflow: hidden;
	border: 0px solid;
	float: right;
	margin-top: 40px;
	text-align: right;
}
#header #menu ul li{
	display: inline-block;

}
#header #menu ul li a{
	color: #04b4ae;
	text-decoration: none;
	padding: 7px 10px;
	margin: 0px 4px;
}
#header #menu ul li a:hover{
	background: #0a2a29;
}
/*histolo del menu*/
#presentacion{
	width: 100%;
	height: auto; overflow: hidden;
	background:linear-gradient(30deg,#16b8b8,#139797,#0d6363,black,black);
}

#presentacion #centro2{
	width: 800px;
	margin: auto;

}
#presentacion #centro2 #izquierda{
	width: 290px;
 	border: 0px solid;
 	float: left;
}

/*Presentacion*/
#presentacion #centro2 #izquierda h2{
	color: #fff;
	font-weight: lighter;
}
.descripcion-pres{
	color: #04b4ae;
	text-align: left;

} 
.boton{
	padding: 5px 20px;
	border-radius: 5px;

}
.boton:hover{
	background: #e6e6e6;
	color: #0b515b;
	border: 0;
}
#presentacion #centro2 #derecha{
	width: 490px;
	height: auto;
	float: right;
}
.img{
	width: 200px;
	height: 140px;
	border: 3px solid #107a7a;
	margin: 20px -550px;
	float: left;

}
#presentacion #centro2 #derecha #categoria{
	width: 800px;
	margin: auto;
}
#presentacion #centro2 #derecha #categoria #miselect{
	height: 50px;
	width: 210px;
	margin:50px 50px;
	font-size: 15px;
	border-radius: 7px;
	border-color: #57e4ee;
	font-style: normal;
	font-weight: 900;
	box-shadow: 0 1px 0 1px rgba(0,0,0,0.3);
	box-sizing: border-box;
	
	
}



#presentacion #centro2 #derecha #categoria #miselect option{
	height: 50px;
	width: 150px;
	margin:20px 20px;
	font-size: 15px;
	font-style: normal;
	font-weight: 900;
	
}

#presentacion #centro2 #derecha #categoria  input{
	height: 50px;
	width: 200px;
	font-size: 15px;
	font-style: normal;
	font-weight: 900;
	margin:45px -52px;
	border-radius: 7px;
}
#presentacion #centro2 #derecha #categoria #botonBuscar{
	height: 50px;
	width: 100px;
	font-size: 15px;
	font-style: normal;
	font-weight: 900;
	margin:20px 50px;
	border-radius: 7px;
	padding: 5px 20px;
	border-radius: 5px;
	
}
#presentacion #centro2 #derecha #categoria #botonBuscar:hover{
	background: #e6e6e6;
	color: #0b515b;
	border: 0;
}

int[type="text"]{
border: none;
border-bottom: 1px solid #fff;
background: transparent;
outline: none;
height: 40px;
color:#fff;
font-size: 16px;
}
/*Menu principal*/
#menuU{
	width: 100%;
	height: 50px;
	background: #139797

}

#menuU #centro3{
	width: auto;
	height: auto; overflow: hidden;
	border: 0px solid;
	margin: auto;
}
#menuU #menu2{
	width: auto;
	height: auto; 
	overflow: hidden;
	border: 0px solid;
	float: none;
	margin-top: 0px;
	text-align: right;
}
#menuU #menu2 ul li{
	display: inline;

}
#menuU #menu2 ul li a{
	color: black;
	font-style: oblique;
	text-decoration: none;
	padding: 0px 5px;
	margin: 0px 23px;
	font-size: 19px;
}
#menuU #menu2 ul li a:hover{
	background: #0d6363;
}
/*Ejemplo para Diego*/

#prueba{
	width: 100%;
	height: auto; 
	overflow: hidden;
	border: 0px solid;
	float: none;
	margin-top: 0px;
	text-align: center;
}
#prueba ul li{
	display: inline-block;

}

.divImagen img{
	
	width: 300px;
	height: 260px;
	border: 3px solid #84f1f1;
	
	float: center;

}

 .divImagen {
	width: 400px;
	height: 350px;
	margin: 8px 10px;
	background:linear-gradient(30deg,rgb(139, 244, 252),#032e2e,#034141,rgb(12, 12, 12),black);
	float:center;
}
 .divImagen #label1{
	margin: 100px 100px;
	font-size: 19px;
	font-style: oblique;
	color: white;
	font-weight: 900;
}

/*parte del registro*/
.login{
    width: 500px;
    height: 560px;
	background:linear-gradient(30deg,#085f5f,#067777,#0d6363,black,black);
    border: skyblue 5px solid;
    color: #fff;
    top: 110%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: calc(50% - 50%)
}
.login h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login input{
    width: 100%;
    margin-bottom: 20px;

}
.login input[type="text"],
.login input[type="password"]{
border: none;
border-bottom: 1px solid #000;

height: 25px;
font-size: 16px;
color: black;
}

.login button[type="button"]{
    border: none;
    outline: none;
    height: 40px;
    background: black;
    border-bottom: 5px solid skyblue;
    box-shadow: 6px 6px 6px #999;
    font-size: 16px;
    color: white;
    text-align: center;
    transition: all o.2s ease 0s;
    font-weight: bold;
    cursor: pointer;
    display: block;
}
.login button[type="button"]:hover{
    background: #0096f7;

}
.login button[type="button"]:active{
    box-shadow: 2px 2px 2px #777, 0px 0px 35px
    0px #00b7f8;
    border-bottom: 1px solid #0045A6;
    text-shadow: 0px 0px 5px #fff, 0px 0px 5px
    #fff;
    transform: translate(4px);
    transition: all 0.1s ease 0s;
    

}

#cuerpo{
    width: 100%;
   
}

#cuerpo #mostrarBanner #banner{
    width: 1000px;
    height: 300px;
    margin: 20px 200px;
}
#cuerpo  #mostrarImagen {
    width: 600px;
    float: left;
}
#cuerpo  #mostrarImagen h1 {
    margin: 20px 200px;
}

#cuerpo  #mostrarImagen #imagen{
    width: 200px;
    height: 250x;
    margin: 20px 300px;
}
#cuerpo  #mostrarInfo {
    width: 600px;
    margin: 20px 500px;
    
}
#cuerpo  #mostrarInfo #categorias {
    font-size: 18px;
    color: rgb(3, 37, 37)
}
#cuerpo  #mostrarInfo #precio {
    font-size: 25px;
    color: rgb(11, 36, 36) 
    
}

#cuerpo  #mostrarInfo #descripcion {
    font-size: 18px;
    color: rgb(3, 14, 14) 
}
#linea2{
	width: 100%;
	height: 10px;
	background:#16b8b8;

}
#comentarios{
   float: left;
    width: 100%;
    color: rgb(3, 14, 14) 
}
#comentarios #tabla{
margin: 50px 100px; 
width: 1000px;
}
#comentarios  #CajaComentario{
   
    border: solid 3px rgb(1, 31, 31);
    float: right;
    margin: 60px 100px;
    
 }
 #comentarios #botonAgregar{
    width: 150px;
    height: 40px;
    font-size: 17px;
    float: right;
    margin: 400px -230px;
   background: #000;
   border-radius: 7px;
   color: #00b7f8;
    
 }



#comentarios #botonAgregar[type="button"]:hover{
    background: #0096f7;
    color: black;

}

#comentarios  #botonAgregar[type="button"]:active{
   
    border-bottom: 1px solid #0045A6;
    text-shadow: 0px 0px 5px #fff, 0px 0px 5px
    #fff;
    transform: translate(4px);
    transition: all 0.1s ease 0s;
    

}

#comentarios #tabla #tablita tr th{
   width: 25%;
   height: 25%;
   margin: 20px 30px;
   color: blue;
   text-align: left;
}
#comentarios #tabla #tablita tr #fecha{
    width: 25%;
    height: 25%;
    margin: 20px 30px;
    color: rgb(36, 41, 41);
    font-size: 16px;
    text-align: left;
    font: small-caps 100%/200% serif;
 }
#comentarios #tabla #tablita tr #nombre{
    width: 25%;
    height: 25%;
    margin: 20px 30px;
    color: rgb(10, 158, 158);
    font-size: 18px;
    text-align: left;
    font: oblique bold 120% normal;
 }

#comentarios #tabla #tablita tr #com1{
    width: 25%;
    height: 25%;
    margin: 20px 30px;
    color: rgb(8, 117, 117);
    font-size: 17px;
    text-align: left;
    font: small-caps 90% serif;
 }


#comentarios #tabla #tablita tr #com{
    width: 25%;
    height: 25%;
    margin: 20px 30px;
    color: black;
    font-size: 20px;
    text-align: left;
    font: small-caps 100% serif;
 }


#comentarios #tabla #tablita tr{
    width: 25%;
    height: 25%;
    margin: 40px 30px;
   
 }
#cuerpo  #mostrarInfo #agregarBiblio{
    width: 150px;
    height: 40px;
    font-size: 17px;
   background: #000;
   border-radius: 7px;
   color: #00b7f8;
}
#cuerpo  #mostrarInfo #agregarBiblio[type="button"]:hover{
    background: #0096f7;
    color: black;

}
#cuerpo  #mostrarInfo #agregarBiblio[type="button"]:active{
    border-bottom: 1px solid #0045A6;
    text-shadow: 0px 0px 5px #fff, 0px 0px 5px
    #fff;
    transform: translate(4px);
    transition: all 0.1s ease 0s;
}



